/* styles */
.paper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form{
    border: 3px solid #10217d;
    border-radius: 10px;
    padding: 50px;
}
.box {
    display: flex;   
}
.button{
    background-color: #16c2d5;
    border: 3px solid #10217d;
    color: black;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 10px;
}
.button:hover {
    background: #527c88;
    cursor: pointer;
}
.link {
    color : blue;
    text-decoration: none;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.link:hover {
    color: #222831;
}
.row__cards {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
}
.row__cards::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #E0E0E0;
}
.row__cards::-webkit-scrollbar {
    width: 12px;
    border-radius: 10px;
    background-color: #E0E0E0;
}
.row__cards::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #E0E0E0;
}
.column__cards {
    overflow-x: hidden;
    overflow-y: scroll;
}
.column__cards::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #E0E0E0;
}
.column__cards::-webkit-scrollbar {
    width: 12px;
    border-radius: 10px;
    background-color: #E0E0E0;
}
.column__cards::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #10217d;
}
.MuiTextField-root input {
    padding-top: 0.9em;
    padding-bottom: 0.9em; 
}
.vertical_center_element {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    padding: 1.2em;
    transform: translateY(-50%);
}
.rbc-day-slot .rbc-time-slot {
    border: unset;
  }
.rbc-timeslot-group:nth-child(n+1){ 
    border-top: 3px solid gray;
}